.top-header {
    background-color: var(--white);
    padding: 0.5rem 0;
}

.top-header__brand {
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    font-weight: bold;
}

.top-header__toggle-menu {
    display: none;
}

.top-header__collapse {
}

.top-header__item-left {
    padding-right: 1.5rem;
}

.top-header__item-right {
    padding-left: 2rem;
    border-left: 2px solid #ccc;
}

.top-header__item {
    padding-left: 1.5rem;
}

.top-header__link {
    color: var(--black);
    // font-weight: bold;
}

.top-header__avatar {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem 0 0.75rem;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.top-header__icon {
    // font-size: 0.75rem;
}

.dropdown-menu {
    inset: unset !important;
    right: 0 !important;
    top: 8px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
        0px 1px 10px 0px rgba(0, 0, 0, 0.03);
    border-top: 5px solid var(--orange) !important;
    width: 220px;
    padding: 0.25rem 0!important;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    
    &:hover {
        background-color: #eee;
    }
}

.bottom-header {
    background-color: #606c72;
    padding: 1rem 0;
}

.bottom-header__item {
    padding: 0 1rem;
}

.bottom-header__icon {
    color: var(--white);
    width: 30px;
    text-align: center;
}

.bottom-header__link {
    color: var(--white);
}

.dropdown-noti {
    width: 400px;
    padding: 0 !important;
    border: none !important;

    .dropdown__header {
        background-color: var(--orange-dark);
        color: var(--white);
        padding: 1rem;
        text-align: center;
    }
    .dropdown-icon {
        font-size: 2rem;
        width: 50px;
        margin: auto;
    }

    .dropdown-icon-secondary {
        color: #606c72;
    }

    .dropdown-icon-warning {
        color: var(--yellow-dark);
    }

    .dropdown-icon-danger {
        color: var(--red);
    }

    .noti-title {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--black);
    }

    .noti-sub-title {
        font-size: 0.8rem;
        color: var(--light);
    }
}

