.header-section {
    width: 100%;
}

.inner__header {
    background-color: var(--green-dark) !important;
    font-family: 'Play', sans-serif;
    position: fixed;
    width: 100%;
}

.navbar {
    padding: 0;
}

.header__logo {
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--white);

    &:hover {
        color: var(--black-green);
    }
}

.header__menu {
    flex-grow: unset;

    .header__item {
        padding: 0 0.5rem;

        .header__link {
            color: var(--white);
            font-weight: bold;
            font-size: 1.1rem;
            cursor: pointer;

            &:hover {
                color: var(--black-green);
            }
        }
    }
}

@media (min-width: 1024px) {
    .pc__header {
        justify-content: space-around !important;
    }
}

.fixed {
    position: fixed;
    width: 100%;
    background-color: #faf1df !important;
    z-index: 100;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
