@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --black: black;
    --black-blue: #161d27;
    --black-green: #1f2d25;
    --black-yellow: #2d2c1f;

    --white: white;
    --white-gray: #f0f8ff;
    --white-green: #f4faf6;

    --red: #df2020;
    --orange: #ff8d5c;
    --orange-dark: #ff5e19;
    --yellow: #ffc174;
    --yellow-dark: #fa9d2c;
    --yellow-light: #fdf7ea;

    --blue: #0c97ff;
    --blue-light: #dfebf1;
    --blue-dark: #0d5cb6;
    --blue-black: #1f232e;
    // --blue-dark: #313743;
    --blue-db: #2d5d80;

    --green: #2df3aa;
    --green-dark: #25b580;
    --green-black: #00a84a;
    --green-light: #dff1ea;

    --purple: #e574ff;
    --pink: #fa7daf;
    --beige: #c9ba9b;
    --brown: #433625;

    --light: #aaa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
}

body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.sticky {
    // background-color: var(--green-dark) !important;
    background-image: linear-gradient(
        to bottom,
        #a8edea,
        #a8edea,
        #a8edea,
        #a8edea,
        #a8edea,
        #aceeea,
        #aff0ea,
        #b3f1ea,
        #bcf4ea,
        #c4f8eb,
        #cdfbec,
        #d5feee
    ) !important;

    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
    z-index: 100;

    .header__logo {
        color: #0b850b !important;
    }

    .header__menu .header__item .header__link {
        color: #0b850b !important;
    }
}

.content {
}

.type-table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(215, 215, 215, 0.8);
    z-index: 1000;
    display: none;

    .type-wrapper {
        position: absolute;
        top: 30%;
        bottom: 35%;
        left: 25%;
        right: 25%;
        background-color: rgba(177, 177, 177, 0.7);
        border-radius: 15px;

        .type-exit-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 10px;
            padding-left: 5px;
            border-top-right-radius: 15px;

            i {
                font-size: 2rem;
                color: red;
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
                background-color: #848484;
            }
        }

        p {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            margin-top: 5%;
            font-size: 1.8rem;
            font-weight: bold;
            opacity: 0.9;
        }

        div:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 5%;

            input {
                width: 80%;
                height: 50px;
                border-radius: 10px;
                border: none;
                padding: 15px;

                font-size: 1.1rem;
            }

            button {
                margin-left: 15px;
                width: 60px;
                height: 40px;
                border-radius: 5px;
                border: none;
                font-weight: bold;
                background-color: #929292;

                &:hover {
                    background-color: #0b850b;
                    color: #ffffff;
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e7e7e;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
