@import 'normalize.css';

// Import font
// @import url();

// Color
:root {
    --black: black;
    --black-blue: #161d27;
    --black-green: #1f2d25;
    --black-yellow: #2d2c1f;

    --white: white;
    --white-gray: #f0f8ff;
    --white-green: #f4faf6;

    --red: #df2020;
    --orange: #ff8d5c;
    --yellow: #ffc174;
    --yellow-light: #fdf7ea;

    --blue: #0c97ff;
    --blue-light: #dfebf1;
    --blue-dark: #0d5cb6;
    --blue-black: #1f232e;
    --blue-dark: #313743;
    --blue-db: #2d5d80;

    --green: #2df3aa;
    --green-dark: #25b580;
    --green-light: #dff1ea;

    --purple: #e574ff;
    --pink: #fa7daf;
    --beige: #c9ba9b;
    --brown: #433625;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
}

body {
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.sticky {
    // background-color: var(--green-dark) !important;
    background-image: linear-gradient(
        to bottom,
        #a8edea,
        #a8edea,
        #a8edea,
        #a8edea,
        #a8edea,
        #aceeea,
        #aff0ea,
        #b3f1ea,
        #bcf4ea,
        #c4f8eb,
        #cdfbec,
        #d5feee
    ) !important;

    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
    z-index: 100;

    .header__logo {
        color: #0b850b !important;
    }

    .header__menu .header__item .header__link {
        color: #0b850b !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e7e7e;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
