.statis-body .row {
    height: 100%;
}

.statis-left {
    text-align: center;
    background-color: #f4faf6;
}

.statis-left p {
    text-align: left;
    font-size: 1.3rem;
    padding: 15px;
    font-weight: bold;
}

.statis-left .stl {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
}

.statis-left .stl .temp,
.statis-left .stl .light,
.statis-left .stl .humid {
    border: 1px solid rgb(222, 219, 219);
    margin-bottom: 20%;
    height: 150px;
    cursor: pointer;
}

.statis-left .stl .temp {
    background-color: #ffffff;
}

.stl-content {
    border: none !important;
    display: inline-flex;
    align-items: center;
    height: 150px;
}

.stl-content div {
    display: inline-flex;
    flex-direction: column;
}

.stl-content div p {
    margin: 0;
    padding: 5px;
}

.stl-content div .uil::before {
    border-radius: 100%;
    margin-top: 15%;
    font-size: 40px;
    padding: 5px;
}

.stl-content div .uil-sun::before {
    background-color: #fff7cf;
    color: #fa9806;
}

.stl-content div .uil-brightness-half::before {
    background-color: #c5e6fa;
    color: #0092e4;
}

.stl-content div .uil-tear::before {
    background-color: #b3f5dd;
    color: #25b580;
}

.statis-right .str-left {
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.strl-opt div {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}

.strl-opt #sl-day,
.strl-opt #sl-week,
.strl-opt #sl-month,
.strl-opt #sl-year {
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.strl-opt #sl-week {
    background-color: #25b580;
    color: #ffffff;
}

.strl-content {
    height: 100%;
}

.strl-content .strl-histogram {
    padding: 5%;
    background-color: #ffffff;
    margin-bottom: 5%;
    height: 45%;
}

.strl-content .strl-history {
    background-color: #ffffff;
    overflow-y: scroll;
    height: 35%;
}

.strl-content .strl-history p {
    margin: 0;
    padding-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

.Lightchart {
    display: none;
}

.Humidchart {
    display: none;
}
