.temp-setting {
    // background-color: var(--white);

    .sidebar {
        border-right: 2px solid #ccc;
        // background-color: var(--black-green);
        padding: 0.5rem;

        height: calc(100vh - 56px - 58px);

        .title {
            font-weight: bold;
            font-size: 1.25rem;
            padding: 0.25rem 0.5rem 0.75rem;
        }

        .sidebar-item {
            padding: 0.5rem;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: var(--blue-db);
                color: var(--white);
            }
        }

        .sidebar-link {
            // color: var(--black);
            font-weight: bold;

            span {
                padding: 0 0.2rem;
            }
        }

        .item-active {
            background-color: var(--blue-db);
            color: var(--white);
        }
    }

    .inner-main {
        margin: 0 auto;
        padding: 1.25rem 0;

        height: calc(100vh - 56px - 58px);

        .title {
            font-weight: bold;
            font-size: 1.25rem;
            padding-bottom: 0.75rem;
            // border-bottom: 1px solid rgba($color: #000, $alpha: 0.75);
        }

        .content {
            padding: 0.5rem 0 1.5rem;
            border-bottom: 4px solid #aaa;
        }

        .main-item {
            padding-bottom: 1.25rem;
        }

        .sub-items {
            padding-top: 1rem;
        }

        .mode-title {
            font-weight: bold;
            font-size: 1.25rem;
            padding-bottom: 0.5rem;
        }

        .mode-btn {
            padding: 6px 20px;
            background-color: var(--blue-db);
            color: var(--white);
            border: none;
            border-radius: 5px;
            width: fit-content;
            cursor: pointer;
        }
    }
}
