.temp-setting {
    background-color: var(--white);
    // height: 100vh;
    padding-top: 50px;

    .sidebar {
        font-family: 'Play', sans-serif;
        background-color: var(--black-green);
        color: var(--white);
        padding: 0.5rem;

        height: 100vh;

        .title {
            font-weight: bold;
            font-size: 1.25rem;
            padding: 0.25rem 0.5rem 0.5rem;
        }

        .sidebar-item {
            padding: 0.5rem;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.3);
            }
        }

        .item-active {
            background-color: rgba($color: #fff, $alpha: 0.3);
        }

        .sidebar-link {
            color: var(--white);
        }
    }

    .main {
        height: 100vh;
    }

    .inner-main {
        margin: 0 auto;
        padding: 1.25rem 0;

        .title {
            font-weight: bold;
            font-family: 'Play', sans-serif;
            font-size: 1.25rem;
            // padding-bottom: 0.75rem;
            // border-bottom: 1px solid rgba($color: #000, $alpha: 0.75);
        }

        .content {
            padding: 0.5rem 0;
        }

        .main-item {
            padding-bottom: 1.25rem;
            border-bottom: 1px solid #ddd;
        }
    }
}
