.log__container {
    margin: 4rem auto;
    width: 700px;
    background-color: var(--white);
    padding: 3rem 4rem;
}

.log__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0 2rem;
}

.log__form {
    text-align: center;
}

.log__btn {
    background-color: var(--blue-db);
    color: var(--white);
    border: none;
    padding: 0.5rem;
    width: 125px;
    margin: 0 0.5rem;
    border-radius: 1000px;
    font-weight: bold;
}

.log__link {
    background-color: var(--orange-dark);
    color: var(--white);
}
